@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #0F0F0F;
  color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  letter-spacing: -0.03em;
}

